<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="com.hzdongcheng.drivers.DRIVER_MANAGER" />
    <queries>
        <package android:name="com.hzdongcheng.drivers"/>
        <intent>
            <action android:name="hzdongcheng.intent.action.DRIVER"/>
        </intent>
    </queries>

    <application>

    </application>

</manifest>